# --------------------------------------------------------------------------------
# TERRAGRUNT CONFIGURATION GENERATED AUTOMATICALLY
# --------------------------------------------------------------------------------

terraform {
  source = "git::ssh://git@github.azc.ext.hp.com/HPAIP/terraform-modules.git//{{ module_path }}?ref=master"
}

include {
  path = find_in_parent_folders("azure.hcl")
}

# --------------------------------------------------------------------------------
# DEPENDENCIES
# --------------------------------------------------------------------------------
{% if dependencies %}
{% for dep_group, deps in dependencies.items() %}
{% for dep in deps %}
dependency "{{ dep.name }}" {
  config_path = "../../{{ dep_group }}/{{ dep.name }}"
  mock_outputs_allowed_terraform_commands = ["validate", "plan"]
  mock_outputs = {
    name = "{{ dep.name }}"
  }
}
{% endfor %}
{% endfor %}
{% endif %}

# --------------------------------------------------------------------------------
# INPUTS
# --------------------------------------------------------------------------------
inputs = {
{% for key, value in inputs.items() %}
  {{ key }} = {{ value | tojson }}
{% endfor %}
}
